.contentBox{
  flex-grow: 1;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin-top:16px;
  margin-bottom: 24px;
}
.arrow{
  background-image: url(../../assets/img/nav-arrow.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 4px;
  max-height: 8px;
}
.paginationContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}