$desc-text-color : #7E7E7E;
$main-text-color: #FFFFFF;
$links-text-color: #3A80BA;
$name-text-color: #1A1A1A;
$default-text-size: 16px;
$medium-text-size:20px;
$after-medium-text-size:24px;
$large-text-size:32px;




